*{
    font-size: 20px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* heading */
/* H1 heading */
}

.Box-Modelh1{
    font-size: larger;
    color: slateblue;
}
/* H2 heading */
.headingh2{
    font-size:larger;
    color:orangered;
}

/* LIST STYLE */
.list-style li{
    font-size: larger;
    color:slateblue;
}
/* BOX MODEL EXAMPLE */
.border-example{
    background-color: lightgray;
    width: fit-content; /* wrap around the text */

    margin:20px;
    border:10px dashed orangered;
    padding: 100px;      /* transparent */
    margin:50px;        /* transparent */
}

/* APPLIED BOX MODEL PROPERTIES TO AN IMAGE*/
.Box-Model-image{
    width:600px;
    length: 600px;

                /* apply similar values to an image */  */
}

margin:50px;
border:2px solid orange;; 