*{
    font-size: 20px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* heading */
/* H1 heading */
}

.Box-Modelh1{
    font-size: larger;
    color: slateblue;
    text-align-last:center;
}
/* H2 heading */
.headingh2{
    font-size:larger;
    color:orangered;
}

/* LIST STYLE */
.list-style li{
    font-size: larger;
    color:slateblue;
}
/* BOX MODEL EXAMPLE */
.border-example{
    background-color: rgb(238, 238, 238);
    width: fit-content; /* wrap around the text */

    margin:50px;
    border:10px dashed orangered;
    padding: 100px;      /* transparent */
 
}

/* APPLIED BOX MODEL PROPERTIES TO AN IMAGE*/
.Box-Model-image{
    width:600px;
    length: 600px;

                           /* apply similar values to an image */ 
}

